.cont{
    display: block;
    border: 2px solid blue;
    margin-bottom: 10px;
    width: 60%;
    margin-left: 20%;
    padding: 15px 15px;
    display: flex;
}

.wishimg{
width: 200px;
cursor: pointer;
}

.wishimg:hover{
    scale: 1.2;
    transition: 0.5s;
}

.right{
    margin-left: 20px;
}

.addcart{
    position: absolute;
    left:730px;
    top: 180px;
    font-size: 30px;
    cursor: pointer;
}